/* Reset de margenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
}

.loader-container {
    padding: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}

.normalbutton{
    padding: 7px 10px 7px 10px !important;
}

.loader {
    border: 16px solid #cacaca; /* Color gris claro */
    border-top: 16px solid #555; /* Color gris oscuro */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    display: inline-block;
}

/* Estilo general del body */
body {
    font-family: 'Lato', sans-serif; /* Usando la fuente Lato */
    display: flex;
    animation: fadeIn 2s forwards;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Color de fondo claro y minimalista */
    color: #333; /* Color de texto estándar */
}

.bottombar{
    z-index: 10;
    position: fixed;
    bottom: -500px;
    width: 100%;
    background-color: #ffffff; /* Color de fondo claro y minimalista */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    transition: bottom ease-in-out 0.3s;
    padding-bottom: 35px;
}

.bottombar .topdiv{
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

.bottombar .normalbar{
    display: block;
    text-align: center;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.topdiv p{
    font-size:25px;
    width: 90%;
}

.topdiv i{
    font-size: 20px;
    width: 10%;
    text-align: right;
}



.subcontainer{
    top: 40px !important;
}

.subcontainer .logo{
    max-width: 15% !important;
}

.front{
    transition: opacity 0.3s ease-in-out;
}

.subcontainer .mainbutton{
    opacity:0;
}

.mainbutton{
    transition: opacity 0.5s ease-in-out;
}


.alertcontainer{
    display: none;
    margin: 10px auto -23px auto !important;
    padding: 10px !important;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.namealertcontainer{
    display: none;
    margin: 10px auto 10px auto;
    padding: 10px;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.secondtitle{
    font-size: 21px;
    font-weight: 600;
    color: #333;
}

.contextcontainer{
    margin: 10px auto 10px auto;
    padding: 10px;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.mainbutton{
    margin: 30px 0 0 0;
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}


.normalbar button{
    padding: 15px 10px 15px 10px;
    width: 80%;
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.subcontainer .button{
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    width: 40px;
    text-align: center;
    font-size: 24px;
}

.playertext{
    padding: 5px 0 0 0;
}

.duringsection{
    text-align: center;
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out;
}

.duringsection button{
    opacity: 1;
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.duringsection input{
    background-color: #ffffff4f;
    text-align: center;
    opacity: 1;
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.duringsection .code{
    width: 20%;
}
.playercontainer {
    margin: 10px auto 10px auto;
    padding: 6px 10px 6px 10px;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.fullcontainer{
    width: 100% !important;
}
/* Contenedor central */
.indcontainer {
    margin: 10px auto 10px auto;
    padding: 20px 10px 20px 10px;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}


#waitingplayers{
    margin-top:10px;
}

.playerscontainer{
    margin: 10px auto 10px auto;
    padding: 10px 10px 1px 10px;
    text-align: center;
    transition: opacity ease-in-out 0.7s, background-color ease-in-out 0.1s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    width: 80%;
}
/* Contenedor central */
#frontpage {
    top: calc(50% - (395px/2));;
    position: absolute;
    text-align: center;
    transition: all 1s ease-in-out;
}

/* Estilo para la imagen del logo */
#frontpage .logo {
    transition: all 1s ease-in-out;
    max-width: 30%;
    height: auto;
    margin-bottom: 15px; /* Separación del texto debajo del logo */
}

/* Estilo para el texto debajo del logo */
.text {
    font-size: 32px;
    font-weight: 400; /* Peso de fuente ligero para un estilo minimalista */
    color: #333;
}

/* Estilo para el texto debajo del logo */
.subtext {
    font-size: 18px;
    font-weight: 400; /* Peso de fuente ligero para un estilo minimalista */
    color: #333;
}

.errortext{
    font-size: 18px;
    font-weight: 400; /* Peso de fuente ligero para un estilo minimalista */
    color: #8f1616;
}

.frontbutton{
    margin: 30px 0 0 0;
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.button{
    padding: 15px 10px 15px 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}


.circles{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(56, 56, 56, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#createsection{
    margin-top: 20px;
    display: none;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#namesection{
    display: none;
}

#joinsection{
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-in-text {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#codeForm{
    margin: 10px;
}

/* Contenedor que alinea el slider y la etiqueta */
.switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.switch-container input{
    background-color: #ffffff4f;
    text-align: center;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    width: 64px;
    margin: 0 10px 0 0;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    border: 0;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

/* Estilo para el contenedor del switch */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin-right: 10px; /* Espacio entre el slider y la etiqueta */
}

/* Ocultar el checkbox real */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; /* Esquinas redondeadas */
}

/* Estilo del slider cuando el checkbox está activado */
.switch input:checked + .slider {
    background-color: #2196F3;
}

/* Estilo del "thumb" del slider */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

/* Mover el "thumb" cuando el checkbox está activado */
.switch input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilo para la etiqueta */
.switch-label {
    text-align: left;
    width: 100%;
    font-size: 16px;
    color: #333;
}

#settings{
    width: 80%;
    margin: 0 auto 0 auto;
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta según sea necesario */
  }

  /* Para todos los navegadores compatibles */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bottomsettings{
    position: fixed;
    display: none;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    right: 0;
    border: 0;
}

.bottomsettings i{
    font-size: 20px;
}

.settingscontainer{
    position: fixed;
    display: none;
    top: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 100px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 140px;
    right: 0;
    border: 0;
}

.settingscontainer button{
    background-color: white;
    border: 0;
    padding: 5px;
    font-size: 0;
    border-radius: 100px;
    margin: 0;
}

.settingscontainer i{
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.player{
    width: 70px;
}

.player button{
    width: 100%;
}

#gamesection{
    display: none;
}

#skipround{
    display: none;
}

.skipround{
    width: 160px !important;
}

.skipround button{
    width: 100%;
}
#mainalert{
    z-index: 9999;
}